log/*.log
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
.DS_Store
coverage
db/*.sqlite3
public/cache/**/*
doc/api
doc/app
config/database.yml
config/amazon.yml
config/deploy.rb
.project
.loadpath
nbproject
vendor/plugins/goldspike