a
  :text-decoration none

html, body
  :background-color #999999

#hd
  :background-color #47869F
  
  h1
    :font-size 19px
    :background-color #FFFFFF
    :border-top 3px solid #009ABF
    
    a
      :display block
      :padding 10px
      :padding-left 20px
      :color #000000

  ul#menu
    :display block
    :padding-left 12px
    
    li
      :display inline
    
      a
        :float left
        :display block
        :padding 8px
        :color #FFFFFF
        
        &:hover
          :background-color #32768F

#bd
  :clear both
  :background-color #FFFFFF
  :padding 20px
  
#ft
  :padding 5px
  :padding-left 20px
  :background-color #47869F
  
.clear
  :clear both
  
  hr
    :display none