!content_width = 950px
!sidebar_width = 220px
!column_spacing = 40px

a
  :text-decoration none

.content
  :width = !content_width
  :margin auto
  :text-align left

#apps
  :text-align left
  :background-color #111111
  :padding 3px
  :padding-top 1px
  :padding-left 20px
  
  li
    :display inline
    :padding-right 10px
    
    a
      :text-decoration none
      :color #CCCCCC
      :font-size 85%

#hd
  :border-top 3px solid #009ABF
  
  h1
    :float left
    :font-size 19px
    :background-color #FFFFFF
    
    a
      :display block
      :padding 10px
      :padding-left 0px
      :line-height 31px
      :color #000000
      
  .search
    :float right
    :padding-top 15px

  #menu
    :clear both
    :background-color #98CAD5

    ul
      :position relative
      :left -10px
      :float left
      :display block
      
      li
        :display inline
        
        a, .notes
          :float left
          :padding 5px
          :padding-left 10px
          :padding-right 10px
          :font-size 12px
    
        a
          :display block
          :text-transform uppercase
          :color #FFFFFF
          :font-weight bold
        
          &:hover, &.current
            :color #F4F2E9
            
        .notes
          :color #F4F2E9
          
          a
            :display inline
            :color #F4F2E9
            :text-transform none
            :font-weight normal
            :padding 0
            :margin 0
            :float none
            
    ul.user-menu
      :left auto
      :right -10px
      :float right

#bd
  :clear both
  :background-color #F4F2E9
  :padding-top 20px
  :padding-bottom 20px

  h2
    :color #5F5F5F
    :font-weight bold
    :margin-bottom 1em
  
  h2.page_title
    :text-transform uppercase
    :margin-bottom 20px
    
  #messages
    div
      :padding 5px
      :margin-bottom 1em
      :color #5F5F5F
  
    .notice
      :background-color #F5E3B6
      :border 1px solid #DBD8D1

  #sidebar
    :width = !sidebar_width + !column_spacing
    :float right

    .container
      :margin-left = !column_spacing

    .cover
      :text-align right
      :margin-bottom 1em
      
      img
        :vertical-align bottom
      
    .tags
      :text-align right
      
      label
        :font-weight bold
        :display block

    .loan
      :margin-bottom 1em
    
      a
        :display block
        :text-align center
        :background-color #98CAD5
        :padding 10px
        :color #FFFFFF
        :font-weight bold
        :text-decoration none
        :text-transform uppercase
        :border 1px solid #009ABF

    #loans
      #books
        :font-size 12px
      
        h3
          :font-weight normal
      
        .loan
          :float none
          
        .authors
          :font-style italic
          
        .image
          :text-align left
          
        .published, .pages
          :display none
    
  #right-column
    :width = !content_width / 2 + !column_spacing / 2
    :float right

  .container
    :margin-left = !column_spacing
  
  .with-sidebar #main
    :width = !content_width - !sidebar_width - !column_spacing
    :float left
  
  .with-right-column #main
    :width = !content_width / 2 - !column_spacing / 2
    :float left
    
  table.list
    thead th
      :font-weight bold
  
    tr
      td, th
        :padding-right 10px
  
  a
    :color #009ABF
    :text-decoration underline
  
  h3
    :font-weight bold
    
    a
      :text-decoration none
      :color #000000
  
  .field
    :margin-bottom 10px
  
    label
      :display block
      :font-weight bold
      
    input.small
      :width 4em
      
    input.medium
      :width 10em
      
    .note
      :font-size 12px
      :color #5F5F5F
      
  .books
    .book
      :margin-bottom 20px

      .image
        :width 65px
        :float left
        :margin-right 10px
        :text-align right
        :overflow hidden

        img
          :vertical-align top

      .meta
        :margin-left 75px

        .authors
          :display block
          :margin-bottom 1em

        .tags
          :display block

      label
        :font-weight bold
        
  .no_books
    :margin-bottom 20px

  #book
    .cover
      :float left

      img
        :margin-right 10px
        :margin-bottom 10px

    .edit_link, .notify_link, .borrowed_by, .reload_link
      :margin-bottom 1em

    .publish_data, .added
      :margin-top 1em
      
    .description
      :clear both

      p
        :margin-top 1em
    
      ul
        :margin 1em
        :margin-left 2em

        li
          :list-style disc outside

    label
      :font-weight bold
      
    .loans
      h2
        :margin-top 1em
        
  #tag_cloud
    :margin-bottom 20px

#ft
  :padding 20px
  :color #5F5F5F
  :font-size 11px
  
  a
    :color #5F5F5F
    
  .stats
    :float right
    
html.widget
  #bd
    :text-align left
    :padding 8px
    :padding-bottom 3px
    :margin 0
    :background-color #FFFFFF
    
    h2
      :color #666666
      :margin 0
      :padding 0
      :display block
      :border-bottom 1px solid #EEEEEE
      :margin-bottom 5px
      
    ul
      li
        :padding-bottom 5px
        
        a
          :color #551A8B
          
    #latest_books
      :margin-top 5px
  
.clear
  :clear both
  
  hr
    :display none

@import lightbox