a {
  text-decoration: none; }

.content {
  width: 950px;
  margin: auto;
  text-align: left; }

#hd {
  border-top: 3px solid #009ABF; }
  #hd h1 {
    float: left;
    font-size: 19px;
    background-color: #FFFFFF; }
    #hd h1 a {
      display: block;
      padding: 10px;
      padding-left: 0px;
      line-height: 31px;
      color: #000000; }
  #hd .search {
    float: right;
    padding-top: 15px; }
  #hd #menu {
    clear: both;
    background-color: #98CAD5; }
    #hd #menu ul {
      position: relative;
      left: -10px;
      float: left;
      display: block; }
      #hd #menu ul li {
        display: inline; }
        #hd #menu ul li a {
          float: left;
          display: block;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          color: #000000;
          text-transform: uppercase;
          color: #FFFFFF;
          font-weight: bold;
          font-size: 12px; }
          #hd #menu ul li a:hover, #hd #menu ul li a.current {
            color: #F4F2E9; }
        #hd #menu ul li .notes {
          float: left;
          color: #F4F2E9;
          font-size: 12px;
          padding: 5px; }
    #hd #menu ul.user-menu {
      left: auto;
      right: -10px;
      float: right; }

#bd {
  clear: both;
  background-color: #F4F2E9;
  padding-top: 20px;
  padding-bottom: 20px; }
  #bd h2 {
    color: #5F5F5F;
    font-weight: bold;
    margin-bottom: 1em; }
  #bd h2.page_title {
    text-transform: uppercase;
    margin-bottom: 20px; }
  #bd #sidebar {
    width: 260px;
    float: right; }
    #bd #sidebar .container {
      margin-left: 40px; }
    #bd #sidebar .cover {
      text-align: right; }
    #bd #sidebar .loan {
      margin-bottom: 1em; }
      #bd #sidebar .loan a {
        display: block;
        text-align: center;
        background-color: #98CAD5;
        padding: 10px;
        color: #FFFFFF;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid #009ABF; }
    #bd #sidebar #loans #books {
      font-size: 12px; }
      #bd #sidebar #loans #books h3 {
        font-weight: normal; }
      #bd #sidebar #loans #books .loan {
        float: none; }
      #bd #sidebar #loans #books .authors {
        font-style: italic; }
      #bd #sidebar #loans #books .image {
        text-align: left; }
      #bd #sidebar #loans #books .published, #bd #sidebar #loans #books .pages {
        display: none; }
  #bd #right-column {
    width: 495px;
    float: right; }
    #bd #right-column .container {
      margin-left: 40px; }
  #bd .with-sidebar #main {
    width: 690px;
    float: left; }
  #bd .with-right-column #main {
    width: 455px;
    float: left; }
  #bd table.list thead th {
    font-weight: bold; }
  #bd table.list tr td {
    padding-right: 10px; }
  #bd a {
    color: #009ABF;
    text-decoration: underline; }
  #bd h3 {
    font-weight: bold; }
    #bd h3 a {
      text-decoration: none;
      color: #000000; }
  #bd .field {
    margin-bottom: 10px; }
    #bd .field label {
      display: block;
      font-weight: bold; }
    #bd .field input.small {
      width: 4em; }
    #bd .field input.medium {
      width: 10em; }
    #bd .field .note {
      font-size: 12px;
      color: #5F5F5F; }
  #bd #books .book {
    margin-bottom: 20px; }
    #bd #books .book .image {
      width: 65px;
      float: left;
      margin-right: 10px;
      text-align: right; }
      #bd #books .book .image img {
        vertical-align: top; }
    #bd #books .book .meta {
      margin-left: 75px; }
      #bd #books .book .meta .authors {
        display: block;
        margin-bottom: 1em; }
    #bd #books .book label {
      font-weight: bold; }
  #bd #book .authors {
    margin-bottom: 1em; }
  #bd #book .borrowed_by {
    margin-bottom: 1em; }
  #bd #book .added {
    margin-top: 1em; }
  #bd #book label {
    font-weight: bold; }
  #bd #book .loans h2 {
    margin-top: 1em; }

#ft {
  padding: 20px;
  color: #5F5F5F;
  font-size: 11px; }
  #ft a {
    color: #5F5F5F; }
  #ft .stats {
    float: right; }

.clear {
  clear: both; }
  .clear hr {
    display: none; }
