#menu
  .content
    %ul
      %li= link_to 'Books', books_path, :class => (controller.controller_name == 'books' ? 'current' : nil)
      %li= link_to 'Authors', authors_path, :class => (controller.controller_name == 'authors' ? 'current' : nil)
    .clear
      %hr