- title 'Loans'[]

#loans
  - if !@my_loans.blank? && @my_loans.size > 0
    %h2= 'Your loans'[]
    .books= render :partial => @my_loans.collect(&:book)

  - if @loans.keys.size > 0
    - @loans.keys.each do |user|
      %h2= user.login
      .books= render :partial => @loans[user].collect(&:book)